mixin question(data)
  .question&attributes(attributes)
    .question__wrapper
      .question__header
        .question__header-title Для 
          a.question__header-name(href="#") Мари-Элен Аместрайтер
        .question__time 14:00
      p.question__dscr.mb-15 Startup Village Livestream’20 станет виртуальным событием и главным бесплатным техноло гическим мероприятием Startup Village  станет виртуальным событием Startup Village Livestream’20 станет виртуальным событием и главным бесплатным
      .question__bottom
        .question__bottom-left
          .question__author Виктор Пайет, Москва
        a.question__bottom-likes(href="#") 150
    //if data && data.answer
      .question__answer
        p.sm.question__answer-content Ответ: 
          span.font-weight-normal Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное 
