.question {
  padding-top: 13px;

  &:after {
    //    margin-top: 17px;
    margin-left: -20px;
    display: block;
    width: calc(100% + 40px);
    height: 1px;
    content: '';
    background: rgba(#fff, .1);
  }

  &:last-child {

    &:after {
      display: none;
    }
  }

  &__header {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__header-name {
    color: $primary;
  }

  &__header-title {
    font-size: 12px;
    line-height: 1;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
  }

  &__content {
  }

  &__dscr {
    font-size: 12px;
    line-height: 1.33 !important;
    font-weight: 500;
    letter-spacing: 0 !important;
    color: rgba(#fff, .7);
  }

  &__bottom {
    padding-bottom: 17px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__bottom-left {
    display: flex;
    align-items: baseline;
  }

  &__author {
    margin-right: 20px;
    font-size: 11px;
    line-height: 1.333;
    font-weight: 500;
    color: #fff;
  }

  &__time {
    font-size: 11px;
    line-height: 1.29;
    font-weight: 500;
    color: #fff;
  }

  &__bottom-likes {
    margin-left: 10px;
    display: flex;
    align-items: baseline;
    font-size: 14px;
    font-weight: 600;
    color: #fff;

    @include transition;

    &:hover {
      opacity: .8;
      text-decoration: none;
      color: $dark;
    }

    &:before {
      margin-right: 5px;
      display: block;
      width: 12px;
      height: 12px;
      flex-shrink: 0;
      content: '';
      background: url(../img/live-like.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__answer {
    margin-top: 20px;
  }

  &__answer-content {
    opacity: .7;
    line-height: 1.43 !important;
    font-weight: 500 !important;
    color: #fff;
  }
}
