mixin modal(data)
  .modal&attributes(attributes)
    case data.type
    
      when 'question'
        .modal__header
          h6.text-purple.mb-0 Задать вопрос
        form.form.form--white.modal__question(action="#", method="POST")
          .form__item
            label.p.sm.text-purple.mb-10 Выберите спикера 
            +select({
              placeholder: 'Введите'
            })
          .form__item
            label.p.sm.text-purple.mb-10 Вопрос для спикера
            textarea.input.input--textarea(placeholder="Введите")
          p.sm.text-dark Вы можете задать любой вопрос спикеру, но прежде чем они будут им доставлены они пройдут предварительную модерацию.
          a.btn.btn-secondary.btn-secondary--no-shadow.w-100(href="#") Отправить
        .modal__question-sent
          .modal__question-sent-header Вопрос отправлен
      
      default
        |Модальное окно
