mixin presentation(data)
  .presentation&attributes(attributes)
    .presentation__content
      img.presentation__item(src="./img/presentation-1.png", alt)
      img.presentation__item(src="./img/presentation-1.png", alt)
      img.presentation__item(src="./img/presentation-1.png", alt)
    .presentation__controls
      .presentation__arrows-wrapper
        a.presentation__arrow.presentation__arrow--left(href="#")
        .presentation__counter
          span 1 
          | из 
          span 3
        a.presentation__arrow.presentation__arrow--right(href="#")
      .presentation__zoom
        a.presentation__zoom-btn.presentation__zoom-btn--minus(href="#")
        a.presentation__zoom-btn.presentation__zoom-btn--plus(href="#")
        
