.presentation {

  &__content {
  }

  &__item {
  }

  &__controls {
    margin-top: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__arrows-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__arrow {
    position: static;
    width: 54px;
    height: 54px;
    border-radius: 50%;

    &--left {
      background: $primary url(../img/presentation-arrow.svg) no-repeat 21px 15px;
      transform: rotate(180deg);
    }

    &--right {
      background: $primary url(../img/presentation-arrow.svg) no-repeat 22px 16px;
    }
  }

  &__counter {
    margin: 0 20px;
    min-width: 60px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    text-align: center;
    letter-spacing: -.05em;

    @include media-breakpoint-down(sm) {
      margin: 0 10px;
      min-width: 50px;
    }
  }

  &__zoom {
    margin-left: 25px;
    display: flex;
    align-items: center;
  }

  &__zoom-btn {
    display: block;
    width: 54px;
    height: 54px;
    border: 2px solid #000;
    border-radius: 50%;

    &--minus {
      background: url(../img/minus.svg) no-repeat center;
    }

    &--plus {
      margin-left: 16px;
      background: url(../img/plus.svg) no-repeat center;
    }
  }
}
