h1,
.h1 {
  font-size: 80px;
  line-height: .9;
  font-weight: 800;
  text-transform: uppercase;

  @include media-breakpoint-down(lg) {
    font-size: 60px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 35px;
  }
}

h2,
.h2 {
  font-size: 60px;
  line-height: .87;
  font-weight: 800;
  text-transform: uppercase;

  @include media-breakpoint-down(lg) {
    font-size: 40px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 28px;
  }
}

h3,
.h3 {
  font-size: 40px;
  line-height: 1;
  font-weight: 800;
  text-transform: uppercase;

  @include media-breakpoint-down(lg) {
    font-size: 30px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 25px;
  }
}

h4,
.h4 {
  font-size: 30px;
  line-height: 1;
  font-weight: 800;
  text-transform: uppercase;

  @include media-breakpoint-down(lg) {
    font-size: 25px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 22px;
  }
}

h5,
.h5 {
  font-size: 22px;
  line-height: .91;
  font-weight: 800;
  text-transform: uppercase;

  @include media-breakpoint-down(lg) {
    font-size: 20px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 18px;
  }
}

h6,
.h6 {
  font-size: 18px;
  line-height: 1.1;
  font-weight: 800;
  text-transform: uppercase;

  @include media-breakpoint-down(lg) {
    font-size: 17px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 16px;
  }
}

p,
.p {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 600;

  &.sm {
    font-size: 11px;
    line-height: 1.27;
    font-weight: 500;
  }

  &.xs {
    font-size: 10px;
    line-height: 1;
    font-weight: 800;
    text-transform: uppercase;
  }
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-black {
  font-weight: 900;
}

.semi-transparent {
  opacity: .7;
}

.transparent {
  opacity: .5;
}

.text-primary-pale {
  color: $primary-pale;
}

ul {
  padding-left: 5px;

  li {
    margin-bottom: 7px;
    display: flex;
    list-style: none;

    &:before {
      margin-top: 7px;
      margin-right: 22px;
      display: block;
      width: 8px;
      height: 8px;
      flex-shrink: 0;
      content: '';
      background: $primary;
      border-radius: 50%;
    }
  }

  &.dark {

    li {
      color: rgba(#fff, .7);
    }
  }

  &.text-primary-pale {
    padding-left: 0;

    li {
      margin-bottom: 1px;

      &:before {
        margin-top: 8px;
        margin-right: 6px;
        width: 3px;
        height: 3px;
        background: $primary-pale;
      }
    }
  }
}

.font-secondary {
  font-family: $font-secondary;
}

ol {

  li {
  }
}

table {
}

tr {
}

th {
}

td {
}

a {
}

input {

  &:focus {
    outline: none;
  }
}

textarea {

  &:focus {
    outline: none;
  }
}

select {
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input[type='submit'] {
  border: 0;
  cursor: pointer;
}

img {
  max-width: 100%;

  &.rounded {
    border-radius: 20px !important;
  }
}
