mixin project-info(data)
  .project-info&attributes(attributes)
    .project-info__left
      h6.mb-10= data.title
      p.text-uppercase.semi-transparent.mb-0= data.dscr
      if data && data.text
        p.text-uppercase.mt-15.mb-0= data.text
    .project-info__right
      if data && data.value
        .h5.text-primary-pale.mb-0= data.value
