.project-info {
  padding: 22px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(#000, .2);

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    align-items: flex-start;
  }

  &__left {
    margin-right: 20px;
  }

  &__right {

    @include media-breakpoint-down(sm) {
      margin-top: 20px;
    }
  }

  &:last-child {
    border-bottom: 0;
  }
}
