.slider {
  margin-left: -16px;
  width: calc(100% + 32px);

  .slick-track {
    display: flex !important;
  }

  .slick-slide {
    margin: 0 16px;
    height: auto;

    &:focus {
      outline: none;
    }
  }

  &--arrows-high {

    .slick-arrow {
      top: -83px;
    }
  }
}
