mixin startup(data)
  a.startup(href="#")&attributes(attributes)
    .startup__logo-wrapper
      img.startup__logo(src="./img/" + data.logo, alt)
    .startup__content
      h6.mb-10= data.title
      .startup__voting 836
