.startup {
  margin-bottom: 14px;
  color: #000;

  @include transition;

  &:hover {
    opacity: .8;
    color: #000;
  }

  &__grid-fifth {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 26px;
  }

  &__logo-wrapper {
    margin-bottom: 25px;
    display: flex;
    width: 100%;
    height: 160px;
    justify-content: center;
    align-items: center;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
  }

  &__logo {
    max-width: 90%;
    max-height: 90%;
  }

  &__content {
  }

  &__voting {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    color: #98ad17;

    &:after {
      margin-left: 5px;
      display: block;
      width: 10px;
      height: 14px;
      flex-shrink: 0;
      content: '';
      background: url(../img/vote.svg) no-repeat center;
      background-size: contain;
    }
  }
}
