/* Bootstrap */

.btn {
  font-size: 10px;
  line-height: 1;
  font-weight: 800;
  text-transform: uppercase;

  &.btn-primary {
    padding: 12px 19px 10px;
    color: #000;
    border: 0;
    border-radius: 40px;
  }

  &.btn-outline-primary {
    color: #fff;

    &:hover {
      color: #000;
    }

    &.btn-lg {
      border-width: 3px;
      border-radius: 40px;
    }

    &.btn--pale {
      pointer-events: none;
      border: 1px solid #3e3e3e;
    }
  }

  &.btn--huge {
    padding: 62px 40px;
    width: 100%;
    font-size: 60px;
    font-weight: 800;
    border-width: 4px;
    border-radius: 100px;

    @include media-breakpoint-down(md) {
      padding: 30px 20px;
      font-size: 30px;
    }
  }

  &.btn-lg {
    padding: 15px 35px 14px;
    font-size: 18px;
    line-height: 1.11;
    font-weight: 800;
    letter-spacing: -.05em;
  }
}

/* Slick */

.slick-slide {

  a {

    &:focus {
      outline: none;
    }
  }
}

.slick-arrow {
  position: absolute;
  top: -30px;
  width: 32px;
  height: 16px;
  font-size: 0;
  background: url(../img/slider-arrow.svg) no-repeat center;
  background-size: contain;

  //  top: 50%;
  //  transform: translateY(-50%);

  @include transition;

  &:hover {
    opacity: .8;
  }

  &.slick-prev {
    left: 16px;
    background: url(../img/slider-arrow-left.svg) no-repeat center;
    background-size: contain;
  }

  &.slick-next {
    right: 16px;
    left: auto;
  }
}

//Select2
.select2-container--default {

  .selection {
    display: block;
  }

  .select2-selection--single {
    position: relative;
    height: 48px;
    background: rgba($white, .2);
    border: none;
    border-radius: 60px;
    outline: 0;

    .select2-selection__rendered {
      padding: 0 40px 0 23px;
      display: flex;
      height: 100%;
      align-items: center;
      font-size: 14px;
      line-height: 1;
      font-weight: 600;
      color: rgba($white, .6);
    }

    .select2-selection__placeholder {
      font-size: 14px;
      line-height: 1;
      font-weight: 600;
      color: rgba($white, .6);
    }

    .select2-selection__arrow {
      position: absolute;
      top: calc(50% - 5px);
      right: 23px;
      display: block;
      width: 14px;
      height: 10px;
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 1.88971L7.11035 7L12.2206 1.88971' stroke='white' stroke-width='3'/%3E%3C/svg%3E%0A");

      b {
        display: none;
      }
    }
  }

  &.select2-container--open.select2-container--below {

    .select2-selection--single,
    .select2-selection--multiple {
      border-radius: 25px 25px 0 0;
    }

    .select2-selection--single .select2-selection__arrow {
      transform: rotate(180deg);
    }
  }

  &.select2-container--open.select2-container--above {

    .select2-selection--single,
    .select2-selection--multiple {
      border-radius: 0 0 25px 25px;
    }

    .select2-selection--single .select2-selection__arrow {
      transform: rotate(180deg);
    }
  }

  .select2-results__option--selected {
    color: $purple;
    background-color: $gray;
  }
}

.select2-dropdown {
  z-index: 99999;
  background: rgba($white, .2);
  border: none;
  border-radius: 25px;
  -x-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);

  &--dark {
    background: #f2f2f4;
    -x-backdrop-filter: none;
    backdrop-filter: none;

    .select2-results__option {
      color: rgba($purple, .6);

      &--selected {
        color: $purple;
        background-color: $gray;
      }
    }
  }
}

.select2-results {

  &__option {
    margin-bottom: 0;
    padding: 10px 23px;
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
    color: rgba($white, .6);
  }
}

.select2-selection[aria-disabled='true'] {
  opacity: .5;
}

.select2-container--default .select2-selection--multiple {
  position: relative;
  padding: 0;
  display: flex;
  height: 48px;
  align-items: center;
  background: rgba($gray, .2);
  border: none !important;
  border-radius: 60px;
  outline: 0;

  .select2-search__field {
    margin: 0;
    padding: 0 23px;
    height: 48px;
    font-size: 20px;
    font-weight: 600;
    color: $dark;

    @include placeholder(rgba($purple, .6));

    &::-webkit-input-placeholder {
      font-size: 14px;
      line-height: 18px;
    }

    &::-moz-placeholder {
      font-size: 14px;
      line-height: 18px;
    }

    &:-ms-input-placeholder {
      font-size: 14px;
      line-height: 18px;
    }
  }

  .select2-selection__rendered {
    position: relative;
    margin: 0;
    display: flex;
    overflow: hidden;
    border-radius: 60px;

    &:after {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 30px;
      height: 100%;
      content: '';
      background: linear-gradient(to left, #f2f2f4, transparent);
    }
  }
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  margin: 0 5px 0 0;
  flex-shrink: 0;
  font-size: 16px;
  background: transparent;
  border: 0;

  .select2-selection__choice__remove {
    border-right: 0;
  }
}

//Perfect Scrollbar
.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  opacity: 1;
}

.ps__rail-y {
  opacity: 1;
}

.ps--active-y > .ps__rail-y {
  width: 8px;
  background: rgba($gray, .2);
}

.ps__thumb-y {
  right: 0;
  width: 8px;
  background: $primary;
  border-radius: 0;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  width: 8px;
  background: $dark;
}

/* Fancybox */

.fancybox-close-small {
  top: 24px !important;
  right: 24px !important;
  padding: 0 !important;
  display: block;
  width: 24px;
  height: 24px;
  background: url(../img/modal-close.svg) no-repeat center;
  background-size: contain;

  svg {
    display: none;
  }
}
