.like {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 800;
  color: $primary;

  @include transition;

  @include media-breakpoint-down(md) {
    margin-bottom: 30px;
  }

  @include media-breakpoint-down(xs) {
    margin-bottom: 10px;
  }

  &:hover {
    opacity: .8;
  }

  &:after {
    margin-top: 0;
    margin-left: 5px;
    display: block;
    width: 10px;
    height: 14px;
    flex-shrink: 0;
    content: '';
    background: url(../img/live-like.svg) no-repeat center;
    background-size: contain;
  }
}
