
include ../blocks/logo/logo.pug
include ../blocks/menu/menu.pug
include ../blocks/bg/bg.pug
include ../blocks/front/front.pug
include ../blocks/session/session.pug
include ../blocks/speaker/speaker.pug
include ../blocks/section/section.pug
include ../blocks/review/review.pug
include ../blocks/footer/footer.pug
include ../blocks/speakers-slider/speakers-slider.pug
include ../blocks/header/header.pug
include ../blocks/person/person.pug
include ../blocks/slider/slider.pug
include ../blocks/chat/chat.pug
include ../blocks/msg/msg.pug
include ../blocks/question/question.pug
include ../blocks/modal/modal.pug
include ../blocks/tag/tag.pug
include ../blocks/video/video.pug
include ../blocks/select/select.pug
include ../blocks/like/like.pug
include ../blocks/card/card.pug

include ../blocks/like/like.pug
include ../blocks/tariff/tariff.pug
include ../blocks/pitch/pitch.pug
include ../blocks/stat/stat.pug
include ../blocks/counter/counter.pug
include ../blocks/participant/participant.pug
include ../blocks/startup/startup.pug
include ../blocks/slider-rows/slider-rows.pug
include ../blocks/hours/hours.pug
include ../blocks/slider-reviews/slider-reviews.pug
include ../blocks/link-back/link-back.pug
include ../blocks/project-info/project-info.pug
include ../blocks/company-logo/company-logo.pug
include ../blocks/info/info.pug
include ../blocks/presentation/presentation.pug