.pitch {
  padding: 70px 90px 95px;
  width: 100%;
  border-radius: 20px;

  @include media-breakpoint-down(lg) {
    padding: 40px;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 32px;
    padding: 20px;
  }

  &__wrapper {
    display: flex;
    background: #000;

    @include media-breakpoint-down(sm) {
      background: transparent;
    }

    &:first-child {
      border-radius: 20px 0 0 20px;

      @include media-breakpoint-down(sm) {
        border-radius: 20px;
      }
    }

    &:last-child {
      border-radius: 0 20px 20px 0;

      @include media-breakpoint-down(sm) {
        border-radius: 20px;
      }
    }
  }

  &--ring {
    background: #000 url(../img/pitch-ring.png) no-repeat left top;
  }

  &--drone {
    background: #515152 url(../img/pitch-drone.png) no-repeat right top;
  }
}
