mixin hours(data)
  .hours&attributes(attributes)
    .row
      .col-lg-8
        +person({
          photo: 'review-1.png',
          name: 'Олег Минагаров'
        })
        p.text-white.text-uppercase.mt-xl-40.mb-0= data.dscr
      .col-xl-3.col-lg-4.offset-xl-1.text-center.mt-30.mt-lg-10
        if data && data.slots
          a.btn.btn-outline-primary.btn-lg(href="#") Записаться на сессию
        else
          a.btn.btn-outline-primary.btn-lg.btn--pale(href="#") Все временные слоты заняты
