.chat {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 400px;
  flex-direction: column;

  @include media-breakpoint-down(md) {
    height: 514px;
  }

  &__body {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 1px solid rgba(#515152, .1);
  }

  &__content {
    position: relative;
    display: none;
    flex-grow: 1;

    &.is-active {
      display: flex;
    }
  }

  &__content-footer {
    position: relative;
    z-index: 1;
    margin-top: auto;
    padding: 11px 8px;
    width: 100%;
    background: #fff;
    border-top: 1px solid rgba(#515152, .1);
  }

  &__header {
    padding: 14px 16px 9px;
    display: flex;

    &--search {
      position: relative;
      padding: 24px 18px;
      justify-content: space-between;

      @include media-breakpoint-down(sm) {
        border-right: 0;
      }
    }

    &--title {
      padding: 0 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
      line-height: 24px;
      font-weight: 500;
      color: $primary;
    }
  }

  &__link {
    margin-right: 6px;
    padding: 9px 14px 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    line-height: 1;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid $primary;
    border-radius: 40px;

    @include transition;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      opacity: .8;
    }

    &.is-active {
      position: relative;
      color: #000;
      background: $primary;
    }
  }

  &__footer {
    display: flex;

    &--full {
      padding-right: 20px;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid rgba(#8f9bb3, .2);

      .chat__input {
        max-width: none;
        height: 58px;
        font-size: 14px;
        font-weight: 400;
        color: #fff;

        @include placeholder(rgba(#fff, .2));

        @include placeholder(#939598);
      }

      .chat__send {
        margin-right: 0;
        flex-grow: 0 !important;
      }
    }
  }

  &__search-wrapper {
    padding-right: 16px;
    display: flex;
    max-width: 212px;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    background: $purple;
    border-radius: 150px;

    @include media-breakpoint-down(sm) {
      margin-right: 10px;
      max-width: none;
    }
  }

  &__input {
    padding-right: 13px;
    padding-left: 13px;
    height: 31px;
    flex-grow: 1;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    background: transparent;
    border: none;

    @include placeholder(rgba(#000, .5));

    @include media-breakpoint-down(lg) {
      font-size: 16px;
    }

    &--search {
      padding-left: 20px;
      max-width: 170px;
      height: 48px;
      font-size: 16px;
      font-weight: 400;
      color: #fff;

      @include placeholder(rgba(#fff, .21));
    }
  }

  &__search-btn {
    width: 24px;
    height: 24px;
    background: url(../img/chat-search.svg) no-repeat center;
    background-size: contain;

    @include transition;

    &:hover {
      opacity: .8;
    }
  }

  &__count {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 100;
    color: #55a4ff;

    &:before {
      margin-right: 3px;
      display: block;
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      content: '';
      background: url(../img/chat-count.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__send {
    margin-right: 11px;
    padding-left: 2px;
    display: flex;
    height: 31px;
    justify-content: center;
    align-items: center;
    color: $primary;
    background-color: transparent;

    @include transition;

    &:hover {
      opacity: .8;
    }
  }

  &__scroll {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 20px 0;
    overflow: hidden;
    width: 100%;
    height: calc(100% - 54px);

    .ps__rail-y {
      width: 8px;
      opacity: 1 !important;
      background: rgba(#c0bdc8, .2) !important;

      &:hover,
      &:focus {
        background: rgba(#c0bdc8, .2) !important;

        .ps__thumb-y {
          width: 8px !important;
          background: #5d5375 !important;
        }
      }
    }

    .ps__thumb-y {
      right: 0;
      width: 8px !important;
      background: #5d5375 !important;
      border-radius: 0;

      &:hover {
        width: 8px !important;
      }
    }

    &--messages {
      padding: 0;
    }

    &--questions {
      padding: 0 18px;
    }
  }

  &__scroll-wrapper {
    position: relative;

    &:after {
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 46px;
      content: '';
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    }
  }

  &__col {
    display: flex;
    height: 550px;
    flex-direction: column;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }

    &--left {
      width: 300px;
      flex-shrink: 0;
      background: #241e33;
      border-radius: 20px 0 0 20px;

      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }

    &--right {
      display: none;
      flex-grow: 1;
      border-radius: 0 20px 20px 0;

      &.is-show {

        @include media-breakpoint-down(sm) {
          position: absolute;
          z-index: 1;
          top: 0;
          left: 0;
          display: flex;
          width: 100%;
          height: 100%;
          background: $purple;
        }
      }

      .chat__header--title {

        @include media-breakpoint-down(sm) {
          padding-right: 10px;
          padding-left: 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }

      .chat__title {

        @include media-breakpoint-down(sm) {
          overflow: hidden;
          font-weight: 500;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: $body-color;
        }
      }
    }
  }

  &__back {
    margin-right: 10px;
  }

  &__head-photo {
    margin-left: 10px;
  }

  &__blocked {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    padding: 11px 30px 11px 18px;
    width: calc(100% - 20px);
    background: #fbdf5d;
    box-shadow: 0 8px 24px rgba(0, 0, 0, .12);
  }

  &__blocked-close {
    position: absolute;
    top: 6px;
    right: 6px;
    display: block;
    width: 18px;
    height: 17px;
    background: url(../img/close-dark.svg) no-repeat center;
    background-size: contain;

    @include transition;

    &:hover {
      opacity: .75;
    }
  }

  &__question-btn {
    padding: 9px;
    font-size: 14px;
    box-shadow: none;

    @include transition;

    &:hover {
      opacity: .8;
      box-shadow: none !important;
    }
  }

  &__content-text {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: calc(100% - 46px);
    justify-content: center;
    align-items: center;

    @include media-breakpoint-down(md) {
      text-align: center;
    }
  }

  &__alone-header {
    padding: 9px 24px 9px 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__users-count {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: $primary;

    &:before {
      margin-right: 4px;
      display: block;
      width: 20px;
      height: 20px;
      content: '';
      background: url(../img/users-count.svg) no-repeat center;
      background-size: contain;
    }
  }

  &--full {
    overflow: hidden;
    flex-direction: row;
    flex-wrap: nowrap;
    background: $purple;
    border-radius: 20px;
    box-shadow: 0 53.6471px 67px -11.6235px rgba(0, 0, 0, .21);

    @include media-breakpoint-down(md) {
      position: relative;
      height: auto;
    }

    .chat__scroll {
      padding-top: 19px;
      height: 100%;
    }

    .chat__col--left {

      .chat__scroll {
        padding-top: 0;
      }
    }

    .chat__send {
      flex-grow: 1;
    }

    .msg {
      transition: $transition-base;

      @include media-breakpoint-down(md) {
        padding-right: 15px;
        padding-left: 10px;
      }

      &.is-selected,
      &:hover {
        background: rgba(#fff, .2);
      }
    }

    .msg__name {
      color: #fff;
    }

    .msg__text {
      color: #97a8b9;
    }

    .msg__time {
      letter-spacing: .26em;
      color: rgba(#fff, .5);
    }

    .msg__photo {
      width: 39px;
      height: 39px;
    }

    .ps__rail-y {
      width: 1px !important;

      .ps__thumb-y {
        width: 1px !important;
        background: radial-gradient(47.37% 47.37% at 3.51% 56.14%, #ffae50 0%, #ff7300 100%),
          radial-gradient(56.14% 56.14% at 91.23% 31.58%, #fbac52 0%, rgba(253, 173, 82, 0) 100%),
          #6c5aa4 !important;
      }
    }
  }

  &--dark {
    overflow: hidden;
    min-height: 550px;
    background: #1b1b1b;
    border-radius: 20px;
    box-shadow: 0 53.6471px 67px -11.6235px rgba(0, 0, 0, .21);

    .chat__body {
      border-top: 1px solid rgba(#8f9bb3, .2);
      border-bottom: 0;
    }

    .msg {
      transition: $transition-base;

      @include media-breakpoint-down(md) {
        padding-right: 15px;
        padding-left: 10px;
      }

      &.is-selected,
      &:hover {
        background: rgba(#fff, .2);
      }
    }

    .msg__name {
      color: #fff;
    }

    .msg__text {
      color: #97a8b9;
    }

    .msg__time {
      letter-spacing: .26em;
      color: rgba(#fff, .5);
    }

    .chat__content-footer {
      background: #1b1b1b;
      border-top: 1px solid rgba(#8f9bb3, .2);
    }

    .chat__input {
      height: 35px;
      font-weight: 400;
      color: #fff;

      @include placeholder(#939598);
    }

    .ps__rail-y {
      width: 1px !important;

      .ps__thumb-y {
        width: 1px !important;
        background: $primary !important;
      }
    }

    .chat__scroll .ps__rail-y:hover .ps__thumb-y,
    .chat__scroll .ps__rail-y:focus .ps__thumb-y {
      width: 8px !important;
      background: $primary !important;
    }
  }

  &--live {
    margin-left: 0;
    min-height: 0;

    @include media-breakpoint-down(md) {
      margin-left: 0;
    }

    .chat__body {
      border-top: 0;
    }

    .msg__content-header {
      justify-content: space-between;
    }

    .msg__text {
      font-size: 12px;
      line-height: 1.5;
      color: #fff;
    }

    .msg__time {
      font-size: 10px;
    }

    .chat__input {

      @include placeholder(#fff);
    }
  }

  &--partner {
    min-height: 415px;

    .msg__content-header {
      justify-content: space-between;
    }

    .msg__text {
      font-size: 12px;
      line-height: 1.5;
      color: #fff;
    }

    .msg__time {
      font-size: 10px;
    }

    .chat__alone-header {
      padding: 14px 16px;
    }
  }
}
