mixin chat(data={type:'default'})
  .chat&attributes(attributes)
    case data.type
      when 'full'
        .chat__col.chat__col--left#chat-main
          .chat__header.chat__header--search
            form.chat__search-wrapper(action="#", method="GET")
              input.chat__input.chat__input--search(name="chat-search" placeholder="Поиск")
              button.chat__search-btn
            .chat__count 35
          .chat__body
            .chat__scroll.chat__scroll--messages.js-chat-scroll
              +msg({
                img: 'msg-user-1.png',
                name: 'Вячеслав Чморшанский',
                text: 'Последнее сообщение Последнее сообщение Последнее сообщение ',
                time: '15:50'
              }).msg--short.msg--unread
              +msg({
                img: 'msg-user-2.png',
                name: 'Юия Кирпа',
                text: 'Последнее сообщение Последнее сообщение Последнее сообщение ',
                time: '15:50'
              }).msg--short.is-selected
              +msg({
                img: 'msg-user-3.png',
                name: 'Олег Олаф',
                text: 'Последнее сообщение Последнее сообщение Последнее сообщение ',
                time: '15:50'
              }).msg--short
              +msg({
                img: 'msg-user-1.png',
                name: 'Марина Олексеева',
                text: 'Последнее сообщение Последнее сообщение Последнее сообщение ',
                time: '15:50'
              }).msg--short
              +msg({
                img: 'msg-user-2.png',
                name: 'Ким Кин',
                text: 'Последнее сообщение Последнее сообщение Последнее сообщение ',
                time: '15:50'
              }).msg--short.msg--letters-black
              +msg({
                img: 'msg-user-3.png',
                name: 'Олег Вертегел',
                text: 'Последнее сообщение Последнее сообщение Последнее сообщение ',
                time: '15:50'
              }).msg--short
              +msg({
                img: 'msg-user-1.png',
                name: 'Риза Чалиев',
                text: 'Последнее сообщение Последнее сообщение Последнее сообщение ',
                time: '15:50'
              }).msg--short
              +msg({
                img: 'msg-user-2.png',
                name: 'Анатолий Рудаковский',
                text: 'Последнее сообщение Последнее сообщение Последнее сообщение ',
                time: '15:50'
              }).msg--short
              +msg({
                img: 'msg-user-3.png',
                name: 'Анатолий Рудаковский',
                text: 'Последнее сообщение Последнее сообщение Последнее сообщение ',
                time: '15:50'
              }).msg--short
              +msg({
                img: 'msg-user-3.png',
                name: 'Анатолий Рудаковский',
                text: 'Последнее сообщение Последнее сообщение Последнее сообщение ',
                time: '15:50'
              }).msg--short
              +msg({
                img: 'msg-user-1.png',
                name: 'Анатолий Рудаковский',
                text: 'Последнее сообщение Последнее сообщение Последнее сообщение ',
                time: '15:50'
              }).msg--short
              +msg({
                img: 'msg-user-2.png',
                name: 'Анатолий Рудаковский',
                text: 'Последнее сообщение Последнее сообщение Последнее сообщение ',
                time: '15:50'
              }).msg--short
        .chat__col.chat__col--right.d-md-flex#chat-right
          //.chat__header.chat__header--title
            a(href="javascript:;" onclick="closeChatStory()").chat__back.d-md-none.
              <svg width="8" height="12" viewBox="0 0 8 12" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.5182 -6.47716e-08L8 1.4662L3.51393 6L8 10.5338L6.5182 12L0.581357 6L6.5182 -6.47716e-08Z" fill="#54AFFF"/></svg>
            .chat__title Геннадий Старков
            .chat__head-photo.d-md-none: img(src="./img/msg-user.png" alt="")
          .chat__body
            .chat__scroll.chat__scroll--messages.js-chat-scroll
              +msg({
                text: 'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют',
                time: 'Вячеслав, 13:06 12.04.2020'
              }).msg--personal.msg--sm
              +msg({
                text: 'обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов',
                time: 'Вы, 13:06 12.04.2020',
                check: true
              }).msg--personal.msg--personal-you.msg--sm
              +msg({
                text: 'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют ',
                time: 'Вячеслав, 13:06 12.04.2020'
              }).msg--personal.msg--sm
              +msg({
                text: 'обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов',
                check: true,
                time: 'Вы, 13:06 12.04.2020'
              }).msg--personal.msg--personal-you.msg--sm
              +msg({
                text: 'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют',
                time: 'Вячеслав, 13:06 12.04.2020'
              }).msg--personal.msg--sm
              +msg({
                text: 'обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов',
                time: 'Вы, 13:06 12.04.2020',
                check: true
              }).msg--personal.msg--personal-you.msg--sm
              +msg({
                text: 'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют ',
                time: 'Вячеслав, 13:06 12.04.2020'
              }).msg--personal.msg--sm
              +msg({
                text: 'обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов',
                check: true,
                time: 'Вы, 13:06 12.04.2020'
              }).msg--personal.msg--personal-you.msg--sm
          form(method="GET" action="./").chat__footer.chat__footer--full
            input.chat__input(name="msg" placeholder="Написать сообщение")
            button(type="submit").chat__send
              img(src="./img/chat-arrow.svg", alt)
      when 'alone'
        .chat__alone-header
          a.btn.btn-primary.py-10(href="#") Общий чат
          .chat__users-count 35
        .chat__body
          .chat__content.is-active
            .chat__scroll.chat__scroll--messages.js-chat-scroll
              +msg({
                img: 'msg-user-1.png',
                name: 'Александр Майер',
                text: 'Сообщение от Вячеслава в несколько строк',
                time: '15:50'
              })
              +msg({
                img: 'msg-user-2.png',
                name: 'Вячеслав Чморшанский',
                text: 'Используют потому, что тот обеспечивает более или обеспечивает более или ',
                time: '15:50'
              })
              +msg({
                img: 'msg-user-3.png',
                name: 'Ольга Бумова',
                text: 'Композиции читаемый текст мешает сосредоточиться',
                time: '15:50'
              })
              +msg({
                img: 'msg-user-1.png',
                name: 'Виктор Константинопольский',
                text: 'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот',
                time: '15:50'
              }).
              +msg({
                img: 'msg-user-2.png',
                name: 'Ольга Бумова',
                text: 'Композиции читаемый текст мешает ',
                time: '15:50'
              })
              +msg({
                img: 'msg-user-1.png',
                name: 'Александр Майер',
                text: 'Сообщение от Вячеслава в несколько строк',
                time: '15:50'
              })
              +msg({
                img: 'msg-user-2.png',
                name: 'Вячеслав Чморшанский',
                text: 'Используют потому, что тот обеспечивает более или обеспечивает более или ',
                time: '15:50'
              })
              +msg({
                img: 'msg-user-3.png',
                name: 'Ольга Бумова',
                text: 'Композиции читаемый текст мешает сосредоточиться',
                time: '15:50'
              })
              +msg({
                img: 'msg-user-1.png',
                name: 'Виктор Константинопольский',
                text: 'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот',
                time: '15:50'
              })
              +msg({
                img: 'msg-user-2.png',
                name: 'Ольга Бумова',
                text: 'Композиции читаемый текст мешает ',
                time: '15:50'
              })
            .chat__content-footer
              form(method="GET" action="./").chat__footer
                input.chat__input(name="msg" placeholder="Написать сообщение")
                button(type="submit").chat__send
                  img(src="./img/chat-arrow.svg", alt)
      when 'partner'
        .chat__alone-header
          a.btn.btn-primary.px-15.py-10(href="#") Чат партнера
        .chat__body
          .chat__content.is-active
            .chat__scroll.chat__scroll--messages.js-chat-scroll
              +msg({
                img: 'msg-user-1.png',
                name: 'Александр Майер',
                text: 'Сообщение от Вячеслава в несколько строк',
                time: '15:50'
              })
              +msg({
                img: 'msg-user-2.png',
                name: 'Вячеслав Чморшанский',
                text: 'Используют потому, что тот обеспечивает более или обеспечивает более или ',
                time: '15:50'
              })
              +msg({
                img: 'msg-user-3.png',
                name: 'Ольга Бумова',
                text: 'Композиции читаемый текст мешает сосредоточиться',
                time: '15:50'
              })
              +msg({
                img: 'msg-user-1.png',
                name: 'Виктор Константинопольский',
                text: 'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот',
                time: '15:50'
              }).
              +msg({
                img: 'msg-user-2.png',
                name: 'Ольга Бумова',
                text: 'Композиции читаемый текст мешает ',
                time: '15:50'
              })
              +msg({
                img: 'msg-user-1.png',
                name: 'Александр Майер',
                text: 'Сообщение от Вячеслава в несколько строк',
                time: '15:50'
              })
              +msg({
                img: 'msg-user-2.png',
                name: 'Вячеслав Чморшанский',
                text: 'Используют потому, что тот обеспечивает более или обеспечивает более или ',
                time: '15:50'
              })
              +msg({
                img: 'msg-user-3.png',
                name: 'Ольга Бумова',
                text: 'Композиции читаемый текст мешает сосредоточиться',
                time: '15:50'
              })
              +msg({
                img: 'msg-user-1.png',
                name: 'Виктор Константинопольский',
                text: 'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот',
                time: '15:50'
              }).
              +msg({
                img: 'msg-user-2.png',
                name: 'Ольга Бумова',
                text: 'Композиции читаемый текст мешает ',
                time: '15:50'
              })
            .chat__content-footer
              form(method="GET" action="./").chat__footer
                input.chat__input(name="msg" placeholder="Написать сообщение")
                button(type="submit").chat__send
                  img(src="./img/chat-arrow.svg", alt)
      default
        .chat__header
          a(href="#").chat__link.is-active
            span Chat
          a(href="#").chat__link
            span Вопросы спикерам
        .chat__body
          .chat__content.is-active
            .chat__scroll.chat__scroll--messages.js-chat-scroll
              +msg({
                img: 'msg-user-1.png',
                name: 'Вячеслав Чморшанский',
                text: 'Сообщение от Вячеслава в несколько строк Сообщение от Вячеслава в',
                time: '15:50'
              })
              +msg({
                img: 'msg-user-2.png',
                name: 'Вячеслав Чморшанский',
                text: 'Используют потому, что тот обеспечивает более или обеспечивает более или ',
                time: '15:50'
              })
              +msg({
                img: 'msg-user-3.png',
                name: 'Ольга Бумова',
                text: 'Композиции читаемый текст мешает сосредоточиться',
                time: '15:50'
              })
              +msg({
                img: 'msg-user-1.png',
                name: 'Виктор Константинопольский',
                text: 'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот',
                time: '15:50'
              }).
              +msg({
                img: 'msg-user-2.png',
                name: 'Ольга Бумова',
                text: 'Композиции читаемый текст мешает ',
                time: '15:50'
              })
              +msg({
                img: 'msg-user-1.png',
                name: 'Александр Майер',
                text: 'Сообщение от Вячеслава в несколько строк',
                time: '15:50'
              })
              +msg({
                img: 'msg-user-2.png',
                name: 'Вячеслав Чморшанский',
                text: 'Используют потому, что тот обеспечивает более или обеспечивает более или ',
                time: '15:50'
              })
              +msg({
                img: 'msg-user-3.png',
                name: 'Ольга Бумова',
                text: 'Композиции читаемый текст мешает сосредоточиться',
                time: '15:50'
              })
              +msg({
                img: 'msg-user-1.png',
                name: 'Виктор Константинопольский',
                text: 'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот',
                time: '15:50'
              }).
              +msg({
                img: 'msg-user-2.png',
                name: 'Ольга Бумова',
                text: 'Композиции читаемый текст мешает ',
                time: '15:50'
              })
            .chat__content-footer
              form(method="GET" action="./").chat__footer
                input.chat__input(name="msg" placeholder="Написать сообщение")
                button(type="submit").chat__send
                  img(src="./img/chat-arrow.svg", alt)
          .chat__content
            //.chat__content-text
              p.mb-0 Вопросов пока нет. 
                a.text-gray.text-underline.d-block.d-sm-inline(href="#question", data-fancybox) Задайте первый.
            .chat__scroll.chat__scroll--questions.js-chat-scroll
              .chat__question-wrapper
                +question({
                  answer: true
                })
                +question
                +question
                +question
            .chat__content-footer
              a.btn.btn-primary.py-15.w-100(href="#question", data-fancybox) Задать вопрос спикеру
            +modal({
              type: 'question'
            })#question
