.speakers-slider {
  position: relative;
  margin-top: 74px;
  margin-bottom: 240px;

  @include media-breakpoint-down(sm) {
    margin-bottom: 100px;
  }

  .person__photo {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
  }

  .slick-track {
    padding-top: 70px;

    @include media-breakpoint-down(sm) {
      padding-top: 0;
    }
  }

  .slick-slide {

    &:focus {
      outline: none;
    }

    @include transition;

    &.slick-current {

      @include media-breakpoint-down(sm) {
        transform: none;
      }

      & + .slick-slide {
        transform: translateY(-35px);

        .person__picture-wrapper {
          transform: scale(1.33) translateY(-30px);

          @include media-breakpoint-down(md) {
            transform: none;
          }
        }
      }
    }
  }

  .slick-arrow {
    z-index: 1;
    top: 6px;
    left: 0;
    transform: none;

    &.slick-next {
      right: 0;
      left: auto;
    }

    &.slick-disabled {
      opacity: .5;
      filter: grayscale(1);
    }
  }
}
