mixin speakers-slider(data)
  .speakers-slider&attributes(attributes)
    +person({
      name: 'Олег константинопольский'
    }).person--suit
    +person({
      name: 'Константин великобородский'
    }).person--suit
    +person({
      name: 'Ирина Ким'
    }).person--suit
    +person({
      name: 'Олег константинопольский'
    }).person--suit
    +person({
      name: 'Константин великобородский'
    }).person--suit
    +person({
      name: 'Ирина Ким'
    }).person--suit
