.section {
  margin-bottom: 32px;
  padding: 15px;
  display: flex;
  width: 160px;
  height: 160px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url(../img/section.png) no-repeat center;
  background-size: contain;

  @include transition;

  &:hover {
    opacity: .8;
  }

  &__icon {
    margin-bottom: 10px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__title {
    font-size: 13px;
    line-height: 12px;
    font-weight: 800;
    text-transform: uppercase;
    color: $primary;

    @include media-breakpoint-down(sm) {
      font-size: 12px;
    }
  }
}
