mixin company-logo(data)
  .company-logo&attributes(attributes)
    img.company-logo__img(src="./img/" + data.picture, alt)
    if data && data.header
      p.text-uppercase.mt-30.mt-lg-60.mb-0= data.header
