.company-logo {
  display: flex;
  max-width: 355px;
  min-height: 275px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 20px;

  @include media-breakpoint-down(lg) {
    min-height: 200px;
  }

  &__img {
    max-width: 80%;
    max-height: 80%;
  }

  &--header {
    padding-top: 60px;
    padding-bottom: 40px;
  }
}
