.bg {
  overflow: hidden;
  background: #000;

  &__main-top {
    background: url(../img/bg-main-1.jpg) no-repeat top center;
    background-size: contain;
  }

  &__main-bottom {
    position: relative;
    margin-bottom: 400px;

    @include media-breakpoint-down(lg) {
      margin-bottom: 300px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 60px;
    }

    &:before {
      position: absolute;
      top: -200px;
      left: 50%;
      display: block;
      width: 2336px;
      height: 948px;
      content: '';
      background: url(../img/bg-main-2.png) no-repeat center;
      background-size: contain;
      transform: translateX(-50%);

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }

  &__content {
    position: relative;
    z-index: 1;
  }

  &--networking {
    background: #000 url(../img/bg-networking.png) no-repeat top 202px center;
  }

  &--live {
    background: #000 url(../img/bg-live.png) no-repeat top center;
  }

  &--hours {
    background: #000 url(../img/bg-hours.jpg) no-repeat top center;
  }
}
