.participant {
  position: relative;
  margin-bottom: 32px;
  display: inline-flex;
  width: 100%;
  max-width: 256px;
  height: 256px;

  @include media-breakpoint-down(lg) {
    margin: 0 16px;
  }

  @include transition;

  &:hover {
    opacity: .8;
  }

  &:focus {
    outline: none;
  }

  &__wrapper {
    display: inline-flex !important;
    justify-content: center;
  }

  &__photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &:before {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 28.13%, rgba(0, 0, 0, .57) 61.98%);
      border-radius: 20px;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    object-position: top center;
  }

  &__content {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    padding: 13px 16px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
  }
}
