mixin participant(data)
  .participant__wrapper
    a.participant(href="#")&attributes(attributes)
      .participant__photo
        img.participant__img(src="./img/participant.png", alt)
      .participant__content
        h6.text-white.mb-5 Мари-Элен Аместрайтер
        p.sm.text-primary.mb-5 Партнер, Speedinvest
        p.sm.text-white.mb-0 Нидерланды
