.tag {
  margin-right: 14px;
  margin-bottom: 10px;
  padding: 9px 17px 7px;
  font-size: 11px;
  line-height: 14px;
  font-weight: 500;
  color: #fff;
  background: rgba(45, 45, 45, .8);
  border-radius: 40px;
  backdrop-filter: blur(8px);

  @include transition;

  &:hover {
    opacity: .8;
    color: #fff;
  }
}
