mixin info(data)
  .info&attributes(attributes)
    if data && data.type != 'short'
      .info__header
        .info__header-left
          p.sm.text-white.mb-10 Made in 
            a(href="#") Skolkovo
          p.sm.text-white Республика Коми
          p.text-white Россия, Республика Коми, г. Абакан, ул. Фрунзе д. 65 офис 17
        .info__header-right
          a.info__logo(href="#")
            img.info__logo-img(src="./img/info-logo.png", alt)
    .info__contacts
      .info__item
        .info__item-icon
          img.info__item-icon-img(src="./img/info-web.svg", alt)
        a.p.mb-0(href="#")= data.website
      .info__item
        .info__item-icon
          img.info__item-icon-img(src="./img/info-mail.svg", alt)
        a.p.mb-0(href="#") info@abakanstartap.com
      .info__item
        .info__item-icon
          img.info__item-icon-img(src="./img/info-phone.svg", alt)
        .p.text-white.mb-0 +7 985 888 99 55
    if data && data.type != 'short'
      .info__content
        .info__item.info__item--contact
          .info__item-icon
            img.info__item-icon-img(src="./img/info-presentation.svg", alt)
          .info__item-content
            .p.text-uppercase.text-white.mb-0 Презентация проекта
            a.p.mb-0(href="#") Presentation.pdf (12mb)
        .info__item.info__item--contact
          .info__item-icon
            img.info__item-icon-img(src="./img/info-question.svg", alt)
          .info__item-content
            .p.text-uppercase.text-white.mb-0 Задать вопрос о проекте
            a.p.mb-0(href="#") Обратная связь
        .info__item.info__item--contact
          .info__item-icon
            img.info__item-icon-img(src="./img/info-video.svg", alt)
          .info__item-content
            .p.text-uppercase.text-white.mb-0 Видеоконференция с участником
            a.p.mb-0(href="#") Начать
