.info {
  padding: 24px 21px 22px 26px;
  background: #1b1b1b;
  border-radius: 20px;

  @include media-breakpoint-down(md) {
    margin-top: 30px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__header-left {
    margin-right: 15px;
  }

  &__header-right {
    flex-shrink: 0;
  }

  &__logo {
    display: block;
    max-width: 50px;
    max-height: 50px;
  }

  &__logo-img {
    max-width: 100%;
  }

  &__contacts {
    margin-bottom: 48px;
  }

  &__item {
    margin-bottom: 12px;
    display: flex;

    &:last-child {
      margin-bottom: 0;
    }

    &--contact {
      margin-bottom: 22px;
    }
  }

  &__item-icon {
    padding-top: 3px;
    display: flex;
    width: 33px;
    align-items: flex-start;
    flex-shrink: 0;
  }

  &__item-icon-img {
  }

  &__content {
  }

  &--short {
    padding-bottom: 35px;

    .info__contacts {
      margin-bottom: 0;
    }
  }
}
