mixin footer(data)
  .footer&attributes(attributes)
    .container
      if data && data.btn
        .row
          .col-xl-10.mx-auto
            a.btn.btn-outline-primary.btn--huge(href="#") Регистрация
    .footer__content
      .container
        .footer__content-wrapper
          .footer__text Phone: +7 (495) 956-00-33
          +logo.footer__logo
          .footer__text email: startupvillage@sk.ru
