.footer {

  &__content {
    position: relative;
    margin-top: 165px;

    @include media-breakpoint-down(sm) {
      margin-top: 40px;
    }
  }

  &__content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__text {
    font-size: 10px;
    line-height: 1;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
      order: 2;
    }
  }

  &__logo {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);

    @include media-breakpoint-down(sm) {
      position: static;
      margin-bottom: 20px;
      order: 1;
      transform: none;
    }
  }

  &--btn {
    margin-top: 120px;

    @include media-breakpoint-down(sm) {
      margin-top: 40px;
    }
  }

  &--black {

    .footer__content {
      margin-top: 110px;
      padding: 130px 0 105px;
      background: #000;

      @include media-breakpoint-down(sm) {
        padding: 40px 0;
      }
    }

    .btn--huge {
      color: #98ad17;
      border-color: #98ad17;

      &:hover {
        color: #000;
        background: #98ad17;
      }
    }
  }

  &--dark {

    .footer__content {
      margin-top: 40px;
    }
  }
}
