mixin card(data)
  a.card(href="#")&attributes(attributes)
    .d-flex.mb-15
      .p.sm.text-uppercase.text-primary.mr-30.mb-0 MAY 22
      .p.sm.text-uppercase.text-primary.mr-30.mb-0 18:00
    h6.text-white.mb-0 Finals of the the Startup Village 2020 technology projects competition
