.card {
  padding: 12px 16px;
  min-height: 136px;
  background: url(../img/space.jpeg) no-repeat center;
  background-size: cover;
  border-radius: 20px;

  @include transition;

  &:hover {
    opacity: .8;
  }
}
