.session {
  margin-bottom: 32px;
  padding: 30px 20px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: rgba(45, 45, 45, .6);
  border-radius: 20px;
  backdrop-filter: blur(8px);

  @include transition;

  @include media-breakpoint-down(xs) {
    margin-bottom: 16px;
  }

  &:hover {
    opacity: .8;
  }
}
