extends ../templates/template.pug
block content
  .container.py-50
    h2.mb-20.pb-10.border-bottom Список страниц
    .row
      .col-md-4
        ul.pl-0
          li.my-20(style="list-style: none;")
            a.d-block.text-dark(href="main.html") Main
          li.my-20(style="list-style: none;")
            a.d-block.text-dark(href="live.html") Live
          li.my-20(style="list-style: none;")
            a.d-block.text-dark(href="networking.html") Networking
          li.my-20(style="list-style: none;")
            a.d-block.text-dark(href="price.html") Price
          li.my-20(style="list-style: none;")
            a.d-block.text-dark(href="pitches.html") Pitches
          li.my-20(style="list-style: none;")
            a.d-block.text-dark(href="mentor-hours.html") Mentor Hours
          li.my-20(style="list-style: none;")
            a.d-block.text-dark(href="participant.html") Participant
          li.my-20(style="list-style: none;")
            a.d-block.text-dark(href="partner.html") Partner
