extends ../templates/template.pug
block content
  .bg.bg--live
    .container
      +header
      .slider.mt-25
        +session
        +session
        +session
        +session
        +session
        +session
        +session
        +session
      h3.text-primary.mt-30.mt-lg-45 Quarantine Technologies. Has the pandemic managed to accelerate digitalization?
      .d-flex.flex-wrap.mt-25.mb-30
        a.tag(href="#") 22.05.2020 10:15
        a.tag(href="#") Поток
        a.tag(href="#") Зал 1
      .row
        .col-lg-8.mb-20.mb-lg-40
          +video({
            picture: 'front-video.jpg'
          }).video--primary
        .col-lg-4.d-flex.order-1.order-lg-0.mb-20.mb-lg-40
          +chat.chat--dark.chat--live
        .col-lg-8
          p.text-white.text-uppercase The pandemic and quarantine have given an unexpected boost to the development of the digital realm. Remote work and faster development create a new system of relationships. In a number of industries (in media and entertainment), the “flight” is quite manageable, somewhere (as in education) there were signs of the need to change the system, and for economists and financiers it was the opportunity to transfer projects based on big data and artificial intelligence, from research - into pilot ones 
        .col-lg-4
          .d-flex.justify-content-end
            a.like(href="#") 836
      h3.text-primary.my-30.my-lg-50 Спикеры
      .row
        .col-lg-4.col-sm-6
          +person({
            photo: 'review-1.png',
            name: 'Олег Минагаров'
          })
        .col-lg-4.col-sm-6
          +person({
            photo: 'review-1.png',
            name: 'Олег Минагаров'
          })
        .col-lg-4.col-sm-6
          +person({
            photo: 'review-1.png',
            name: 'Олег Минагаров'
          })
        .col-lg-4.col-sm-6
          +person({
            photo: 'review-1.png',
            name: 'Олег Минагаров'
          })
        .col-lg-4.col-sm-6
          +person({
            photo: 'review-1.png',
            name: 'Олег Минагаров'
          })
      h3.text-center.text-primary.mt-50.mt-lg-80.mb-20.mb-lg-55 Программа трека
      .slider.slider--arrows-high
        +card
        +card
        +card
        +card
        +card
        +card
        +card
        +card
    +footer({
      btn: true
    }).footer--black.footer--btn.footer--dark
