extends ../templates/template.pug
block content
  .bg
    .bg__main-top
      +header.header--transparent
      .container.mt-15
        .row
          .col-lg-10.mx-auto
            h2.text-primary.text-center Startup Village 2021 
              span.text-white.d-block Packing for Mars 
              | Автостопом по инновациям
        .row
          .col-lg-8.mx-auto
            +front
        .h1.text-white.text-center Смотрите <br>прямую трансляцию
        .row.my-50.my-lg-100.counter__wrapper.justify-content-center
          .col-lg.col-sm-4
            +stat({
              number: '10000',
              title: 'участников'
            }).stat--simple
          .col-lg.col-sm-4
            +stat({
              number: '300',
              title: 'спикеров'
            }).stat--simple
          .col-lg.col-sm-4
            +stat({
              number: '80',
              title: 'стран'
            }).stat--simple
          .col-lg.col-sm-4
            +stat({
              number: '4500',
              title: 'стартапов'
            }).stat--simple
          .col-lg.col-sm-4
            +stat({
              number: '1000',
              title: 'инвесторов'
            }).stat--simple
        .h1.text-primary.text-center.pt-45.mb-55 Бизнес <br>программа
        .slider
          +session
          +session
          +session
          +session
          +session
          +session
          +session
          +session
        .h1.text-primary.text-center.mt-75.pt-xl-100 Спикеры
        +speakers-slider
    .bg__main-bottom
      .container.bg__content
        .h1.text-primary.text-center.mb-40.mb-lg-85 Networking
        .row
          .col-xl-2.col-sm-4.col-6.d-flex.justify-content-center
            +section({
              icon: 'section-1.svg',
              title: 'Общий чат'
            })
          .col-xl-2.col-sm-4.col-6.d-flex.justify-content-center
            +section({
              icon: 'section-2.svg',
              title: 'личный чат'
            })
          .col-xl-2.col-sm-4.col-6.d-flex.justify-content-center
            +section({
              icon: 'section-3.svg',
              title: 'Вопросы спикерам'
            })
          .col-xl-2.col-sm-4.col-6.d-flex.justify-content-center
            +section({
              icon: 'section-4.svg',
              title: 'Чаты по интересам'
            })
          .col-xl-2.col-sm-4.col-6.d-flex.justify-content-center
            +section({
              icon: 'section-5.svg',
              title: 'Выставка'
            })
          .col-xl-2.col-sm-4.col-6.d-flex.justify-content-center
            +section({
              icon: 'section-6.svg',
              title: 'Бизнес программа'
            })
    .container
      .slider-reviews
        +review({
          text: 'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона'
        })
        +review({
          text: 'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблонаДавно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточить'
        })
        +review({
          text: 'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное'
        })
        +review({
          text: 'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона'
        })
        +review({
          text: 'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблонаДавно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточить'
        })
        +review({
          text: 'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное'
        })
    +footer({
      btn: true
    }).footer--black.footer--dark.footer--btn
