extends ../templates/template.pug
block content
  .bg.bg--hours
    .container
      +header.header--transparent
      h3.text-center.text-primary.mt-30.mb-30.mb-xl-70 MENTOR HOURS
      +hours({
        dscr: 'The pandemic and quarantine have given an unexpected boost to the development of the digital realm. Remote work and faster development create a new system of relationships. In a number of industries (in media and entertainment), the “flight” is quite manageable, somewhere (as in education) there were signs of the need to change the system, and for economists and financiers it was the opportunity to transfer projects based on big data and artificial intelligence, from research - into pilot ones ',
        slots: true
      })
      +hours({
        dscr: 'The pandemic and quarantine have given an unexpected boost to the development of the digital realm. Remote work and faster development create a new system of relationships. In a number of industries ',
        slots: false
      })
      +hours({
        dscr: 'The pandemic and quarantine have given an unexpected boost to the development of the digital realm. Remote work and faster development create a new system of relationships. In a number of industries ',
        slots: false
      })
      +hours({
        dscr: 'The pandemic and quarantine have given an unexpected boost to the development of the digital realm. Remote work and faster development create a new system of relationships. In a number of industries ',
        slots: false
      })
    +footer({
      btn: true
    }).footer--black.footer--dark.footer--btn
