extends ../templates/template.pug
block content
  .bg.bg--networking
    .container
      +header.header--transparent
      h3.text-center.text-primary.mt-30.mb-30.mb-xl-45 Networking
      +chat({
        type: 'alone'
      }).chat--dark.mb-30.mb-lg-60
      .row.mb-30.mb-xl-60
        .col-xl-2.col-sm-4.col-6.d-flex.justify-content-center
          +section({
            icon: 'section-1.svg',
            title: 'Общий чат'
          })
        .col-xl-2.col-sm-4.col-6.d-flex.justify-content-center
          +section({
            icon: 'section-2.svg',
            title: 'личный чат'
          })
        .col-xl-2.col-sm-4.col-6.d-flex.justify-content-center
          +section({
            icon: 'section-3.svg',
            title: 'Вопросы спикерам'
          })
        .col-xl-2.col-sm-4.col-6.d-flex.justify-content-center
          +section({
            icon: 'section-4.svg',
            title: 'Чаты по интересам'
          })
        .col-xl-2.col-sm-4.col-6.d-flex.justify-content-center
          +section({
            icon: 'section-5.svg',
            title: 'Выставка'
          })
        .col-xl-2.col-sm-4.col-6.d-flex.justify-content-center
          +section({
            icon: 'section-6.svg',
            title: 'Бизнес программа'
          })
      h4.text-white.mb-30 Правила пользования
      p.text-white Startup Village Livestream’20 станет виртуальным событием и главным бесплатным техноло гическим мероприятием Startup Village Livestream’20 станет виртуальным событиемStartup  станет виртуальным событием и главным бесплатным техноло гическим мероприятием Startup Village Livestream’20 станет виртуальным событием
      p.text-white Startup Village Livestream’20 станет виртуальным событием и главным бесплатным техноло гическим мероприятием Startup Village Livestream’20 станет виртуальным событиемStartup  станет виртуальным событием и главным бесплатным техноло гическим мероприятием Startup Village Livestream’20 станет виртуальным событиемStartup Village Livestream’20 станет виртуальным событием и главным бесплатным техноло гическим мероприятием Startup Village Livestream’20 станет виртуальным событиемStartup  станет виртуальным событием и главным бесплатным техноло гическим мероприятием Startup Village Livestream’20 станет виртуальным событиемStartup Village Livestream’20 станет виртуальным событием и главным бесплатным техноло гическим мероприятием Startup Village Livestream’20 станет виртуальным событиемStartup  станет виртуальным событием и главным бесплатным техноло гическим мероприятием Startup Village Livestream’20 станет виртуальным событием
      ul.dark.mt-30.mt-lg-40
        li Startup Village Livestream’20 станет виртуальным 
        li Событием и главным бесплатным техноло гическим мероприятием 
        li Startup Village Livestream’20 станет виртуальным событием
        li Startup  станет виртуальным событием  
        li Главным бесплатным техноло гическим мероприятием
        li Startup Village Livestream’20 станет виртуальным событием
    +footer({
      btn: true
    }).footer--black.footer--dark.footer--btn
