extends ../templates/template.pug
block content
  +header
  .container.mt-35
    .row
      .col-lg-8.mb-20
        .link-back.mb-15
          a.link-back__arrow(href="#")
          h3.link-back__title Representative Office of Bavaria in the Russian Federation
        .row
          .col-xl-9
            .p.text-uppercase.font-weight-semibold.mb-30.mb-lg-40.ml-lg-85 Бавария как место для бизнеса: как найти партнеров и инвестировать в Баварию
        +video({
          videoSRC: 'https://www.youtube.com/embed/mcgYg5MXNZ0'
        }).video--default.video--iframe
        .text-uppercase
          p РЕД СОФТ – российский разработчик и поставщик ИТ-решений и услуг; резидент инновационного центра «Сколково»; член АРПП "Отечественный софт" и РУССОФТ. Компания осуществляет комплексные проекты в области хранения и управления данными на основе собственного технологического стека.
          p РЕД СОФТ - это эффективная команда, имеющая более чем 15-летний опыт разработки в российском государственном и коммерческом секторе, а также за рубежом.
          p РЕД СОФТ обладает собственной линейкой продуктов: РЕД ОС, СУБД Ред База Данных, Ред Платформа, РЕДШЛЮЗ.
          p РЕД СОФТ активно расширяет партнёрскую сеть. Подписаны соглашения о технологическом партнёрстве с ведущими российскими ИТ-компаниями.
        img.img-fluid.rounded.my-15(src="./img/company-picture-2.png", alt)
        ul.p.text-uppercase.text-primary-pale.mt-10
          li Операционная система РЕД ОС
          li СУБД Ред База данных
          li «Работаем дома» организация удаленного рабочего места на базе РЕД ОС
      .col-lg-4.mb-20
        +company-logo({
          picture: 'company-logo-2.png',
          header: 'партнер'
        }).company-logo--header.mb-20
        +info({
          website: 'redsoft.com',
          type: 'short'
        }).info--short.mb-15
        +chat({
          type: 'partner'
        }).chat--dark.chat--partner.mb-30.mb-lg-60
    +presentation.mt-20.mt-lg-35
  +footer({
    btn: true
  }).footer--black.footer--btn
