extends ../templates/template.pug
block content
  +header
  .container.mt-35
    .row
      .col-lg-8.mb-20.order-2.order-lg-1
        .link-back
          a.link-back__arrow(href="#")
          h3.link-back__title Representative Office of Bavaria in the Russian Federation
        .row
          .col-xl-8
            .p.text-uppercase.mb-5 Бавария как место для бизнеса: как найти партнеров и инвестировать в Баварию
            .p.text-uppercase.transparent Bavaria as a business location: how to find partners and invest in Bavaria
      .col-lg-4.mb-20.order-1.order-lg-2
        +company-logo({
          picture: 'company-logo.png'
        })
    .row
      .col-lg-8
        +video({
          picture: 'video-bg.jpeg'
        }).video--default.mb-15
        .project-info__wrapper
          +project-info({
            title: 'Стадия проекта',
            dscr: 'Project stage description',
            value: 'Startup'
          })
          +project-info({
            title: 'Требуемые инвестиции',
            dscr: 'Funds needed ',
            value: '1 560 884 Р'
          })
          +project-info({
            title: 'Выручка за 2019 год ',
            dscr: 'Actual revenues in 2019',
            value: '11 560 884 Р'
          })
          +project-info({
            title: 'Планы по выручке на 2020 год',
            dscr: 'Estimated revenues in 2020',
            value: '14 560 884 Р'
          })
          +project-info({
            title: 'Конкурентные преимущества продукта',
            dscr: 'Competitive advantages of the product',
            text: 'Startup Village Livestream’20 станет виртуальным событием и главным бесплатным техноло гическим мероприятием Startup Village Livestream’20 станет виртуальным событием'
          })
          +project-info({
            title: 'Особенности ("фишка") продукта/проекта.',
            dscr: 'Features which make your product/project distinguished',
            text: 'Startup Village Livestream’20 станет виртуальным событием и главным бесплатным техноло гическим мероприятием Startup Village Livestream’20 станет виртуальным событиемStartup  станет виртуальным событием и главным бесплатным техноло гическим мероприятием Startup Village Livestream’20 станет виртуальным событием'
          })
        img.img-fluid.rounded.mt-15(src="./img/company-picture.jpg", alt)
      .col-lg-4
        +info({
          website: 'abakanstartap.com'
        })
  +footer({
    btn: true
  }).footer--black.footer--btn
