extends ../templates/template.pug
block content
  +header
  .container
    h3.text-center.mt-30.mb-30.mb-xl-45 Инвесторские питчи
    .h6.mb-45 Инвесторы из крупнейших компаний выслушают вашу бизнес-идею и сразу же дадут обратную связь. Забронируйте питч сессию и выведите свою компанию на новый уровень
    .row.no-gutters
      .col-md-6.pitch__wrapper
        +pitch({
          title: 'Pitch<br>&Go',
          dscr: 'крупнейшая питч-сессия, которую Skolkovo Ventures проводит с октября 2019 года в рамках своего бизнес-ангельского клуба для предпринимателей и инвесторов ранней стадии. <br> <br>За это время в трех мероприятиях приняли участие более 300 человек (из них 200 – это инвесторы), 43 стартапа презентовали свои проекты и 5 из них уже привлекли инвестиции по итогам питч-сессий. <br><br>Итоговая сумма, которую стартапы-участники привлекли или обсуждают с заинтересованными инвесторами по итогам Pitch&Go, составляет более 300 млн рублей.'
        }).pitch--ring
      .col-md-6.pitch__wrapper
        +pitch({
          title: 'AdVentureLand Challenge',
          dscr: 'Инвесторы ищут лучшие стартапы страны на AdVentureLand Challenge. <br><br>AdVentureLand Challenge — суперпроект, принципиально отличающийся от привычных питч-конкурсов. Участников сразу отбирают инвесторы, обучают их и готовят к питч-дуэлям'
        }).pitch--drone
    .row.mt-50.mt-lg-100.counter__wrapper
      .col-sm-4
        +stat({
          number: '12',
          title: 'минут, чтобы получить инвестиции'
        })
      .col-sm-4
        +stat({
          number: '25',
          title: 'инвесторов ознакомятся с вашей презентацией'
        })
      .col-sm-4
        +stat({
          number: '10',
          title: 'инвесторов присутствуют на питче'
        }).stat--plus
    h3.text-center.mt-50.mt-lg-100.mb-30.mb-lg-55 Инвесторы
    .slider-rows
      - for (var i = 0; i < 16; ++i) {
        +participant
      - }
    h3.text-center.mb-30.mb-lg-60 Отобранные стартапы
    .startup__grid-fifth
      +startup({
        logo: 'startup-1.png',
        title: 'PaperNote'
      })
      +startup({
        logo: 'startup-2.png',
        title: 'ADATA'
      })
      +startup({
        logo: 'startup-3.png',
        title: 'SONISTAR'
      })
      +startup({
        logo: 'startup-1.png',
        title: 'PaperNote'
      })
      +startup({
        logo: 'startup-2.png',
        title: 'ADATA'
      })
      +startup({
        logo: 'startup-1.png',
        title: 'PaperNote'
      })
      +startup({
        logo: 'startup-2.png',
        title: 'ADATA'
      })
      +startup({
        logo: 'startup-3.png',
        title: 'SONISTAR'
      })
      +startup({
        logo: 'startup-1.png',
        title: 'PaperNote'
      })
      +startup({
        logo: 'startup-2.png',
        title: 'ADATA'
      })
  +footer({
    btn: true
  }).footer--black.footer--btn
