extends ../templates/template.pug
block content
  +header
  .container
    h3.text-center.mt-30.mb-30.mb-xl-55 Стоимость участия
    .row
      .col-lg-4.d-flex
        +tariff({
          bg: '#E8E8E8',
          title: 'Онлайн участие',
          options: ['Полный доступ к трансляции деловой программы                            Startup Village', 'Онлайн-нетворкинг со спикерами и участниками мероприятия', 'Тематические чаты', 'Онлайн выставка стартапов'],
          price: '1 000 ₽'
        })
      .col-lg-4.d-flex
        +tariff({
          bg: '#4D4D4D',
          title: 'Офлайн участие',
          options: ['Полный доступ ко всем сессиям и офлайн активностям                    Startup Village', 'Живое общение с участниками и спикерами', 'Возможность посещения инновационной выставки', 'Менторские сессии', 'Питчи для стартапов'],
          price: '3 000 ₽'
        }).tariff--dark
      .col-lg-4.d-flex
        +tariff({
          bg: '#000',
          title: 'Участник выставки <span class="text-primary">Startup Bazaar</span>',
          options: ['Презентовать свою компанию потенциальным инвесторам и бизнес-ангелам', 'Привлечь внимание медиа', 'Популяризовать свой бренд', 'Живое общение с участниками и спикерами мероприятия'],
          price: 'compound',
        }).tariff--dark.tariff--ring
    h4.mt-30.mt-lg-75.mb-30 Дополнительная информация
    p Startup Village Livestream’20 станет виртуальным событием и главным бесплатным техноло гическим мероприятием Startup Village Livestream’20 станет виртуальным событиемStartup  станет виртуальным событием и главным бесплатным техноло гическим мероприятием Startup Village Livestream’20 станет виртуальным событием
    p Startup Village Livestream’20 станет виртуальным событием и главным бесплатным техноло гическим мероприятием Startup Village Livestream’20 станет виртуальным событиемStartup  станет виртуальным событием и главным бесплатным техноло гическим мероприятием Startup Village Livestream’20 станет виртуальным событиемStartup Village Livestream’20 станет виртуальным событием и главным бесплатным техноло гическим мероприятием Startup Village Livestream’20 станет виртуальным событиемStartup  станет виртуальным событием и главным бесплатным техноло гическим мероприятием Startup Village Livestream’20 станет виртуальным событиемStartup Village Livestream’20 станет виртуальным событием и главным бесплатным техноло гическим мероприятием Startup Village Livestream’20 станет виртуальным событиемStartup  станет виртуальным событием и главным бесплатным техноло гическим мероприятием Startup Village Livestream’20 станет виртуальным событием
  +footer({
    btn: true
  }).footer--black.footer--btn
