mixin logo(data)
  a.logo(href="index.html")&attributes(attributes)
    if data && data.modifier == 'new'
      img.logo__img(src="./img/logo-new.svg", alt)
    else
      img.logo__img(src="./img/logo.svg", alt)
