mixin front(data)
  .front&attributes(attributes)
    .front__video(style="background-image: url(./img/front-video.jpg)")
    .front__wrapper
      a.front__btn(href="#")
      .front__content
        .front__content-left
          .front__live LIVE
          .front__info Технологии карантина. Ускорила ли пандемия цифровизацию?
        .front__content-right 
          .front__info 22.05.2020 10:15
