.front {
  position: relative;
  margin: 49px 0 55px;

  @include media-breakpoint-down(sm) {
    margin: 30px 0;
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 19px;
  }

  &__wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    height: 414px;
    flex-direction: column;

    @include media-breakpoint-down(sm) {
      height: auto;
    }
  }

  &__btn {
    flex-grow: 1;
    background: url(../img/play.png) no-repeat center;

    @include transition;

    @include media-breakpoint-down(sm) {
      min-height: 178px;
    }

    &:hover {
      background: rgba(#000, .3) url(../img/play.png) no-repeat center;

      & ~ .front__content {
        background: rgba(#000, .3);
      }
    }
  }

  &__content {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include transition;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  &__content-left {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__live {
    margin-right: 5px;
    padding: 9px 10.75px;
    font-size: 10px;
    line-height: 1;
    font-weight: 800;
    text-transform: uppercase;
    background: $primary;
    border-radius: 40px;
  }

  &__info {
    padding: 8px 11px;
    font-size: 11px;
    line-height: 14px;
    font-weight: 500;
    letter-spacing: 0;
    color: #fff;
    background: #2d2d2d;
    border-radius: 40px;

    @include media-breakpoint-down(sm) {
      margin-top: 10px;
      padding: 0;
      background: transparent;
    }
  }

  &__content-right {
  }
}
