.slider-rows {
  margin-bottom: 115px;

  .slick-arrow {
    z-index: 1;
    top: calc(50% - 16px);
    width: 54px;
    height: 54px;
    background: url(../img/rows-slider-arrow.svg) no-repeat center;
    background-size: contain;
    transform: translateY(-50%);

    @include transition;

    @include media-breakpoint-down(lg) {
      top: 50%;
    }

    &:hover {
      opacity: .7;
    }

    &.slick-prev {
      left: -34px;
      background: url(../img/rows-slider-arrow-back.svg) no-repeat center;
      background-size: contain;

      @include media-breakpoint-down(lg) {
        left: 0;
      }
    }

    &.slick-next {
      right: -34px;

      @include media-breakpoint-down(lg) {
        right: 0;
      }
    }
  }

  .slick-dots {
    position: absolute;
    top: calc(100% + 30px);
    padding-left: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    li {
      margin-right: 32px;
      list-style: none;

      @include transition;

      &:last-child {
        margin-right: 0;
      }

      &:before {
        display: none;
      }

      &:hover {
        opacity: .7;
      }

      &.slick-active {

        button {
          background: #98ad17;
        }
      }

      button {
        width: 8px;
        height: 8px;
        font-size: 0;
        background: rgba(#1b1b1b, .2);
        border-radius: 50%;
      }
    }
  }
}
