.link-back {
  margin-bottom: 27px;
  display: flex;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    align-items: flex-start;
  }

  &__arrow {
    margin-top: 10px;
    margin-right: 40px;
    width: 45px;
    height: 20px;
    flex-shrink: 0;
    background: url(../img/arrow-back.png) no-repeat center;
    background-size: contain;

    @include transition;

    @include media-breakpoint-down(md) {
      margin-right: 20px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 10px;
    }

    &:hover {
      opacity: .8;
    }
  }

  &__title {
    margin-bottom: 0;
  }
}
