mixin tariff(data)
  .tariff&attributes(attributes)
    .tariff__bg(style="background:" + data.bg)
    .tariff__wrapper
      .tariff__top
        h5.tariff__title!= data.title
        .tariff__options-wrapper
          for item in data.options
            .p.tariff__option= item
      .tariff__bottom
        if data && data.price != 'compound'
          h3.tariff__price= data.price
        else
          .tariff__price-wrapper
            .tariff__price-header Офлайн участие
            h3.tariff__price 25 000 ₽
          .tariff__price-wrapper
            .tariff__price-header Для участников проекта Сколково
            h3.tariff__price 20 000 ₽
        a.btn.btn-primary.btn-lg.mt-35(href="#") Выбрать
