.tariff {
  position: relative;
  margin-bottom: 32px;
  display: flex;
  width: 100%;
  text-align: center;

  @include transition;

  &:hover {
    color: #000;

    .tariff__bg {
      background: #fff !important;
      box-shadow: 0 53.6471px 67px -11.6235px rgba(0, 0, 0, .21);
      transform: scale(1.045);
      transform-origin: center;
    }

    .tariff__option {

      &:after {
        background: #98ad17;
      }
    }

    .tariff__price {
      color: #000;
    }

    .tariff__price-header {
      color: rgba(#000, .5);
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: top center;
    background-size: cover;
    border-radius: 20px;

    @include transition;
  }

  &__wrapper {
    position: relative;
    z-index: 1;
    padding: 36px 36px 48px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__top {
  }

  &__title {
    margin-bottom: 28px;
    display: flex;
    min-height: 44px;
    flex-direction: column;
    justify-content: center;
  }

  &__options-wrapper {
    margin-bottom: 27px;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__option {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:after {
      margin: 10px 0;
      display: block;
      width: 64px;
      height: 1px;
      content: '';
      background: #98ad17;

      @include transition;
    }

    &:last-child {

      &:after {
        display: none;
      }
    }
  }

  &__bottom {
  }

  &__price-wrapper {

    & + & {
      margin-top: 20px;
    }
  }

  &__price {
    margin-bottom: 0;

    @include transition;
  }

  &__price-header {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -.05em;
    color: rgba(#fff, .5);

    @include transition;
  }

  &--dark {
    color: #fff;

    .tariff__price {
      color: $primary;
    }
  }

  &--ring {

    .tariff__bg {
      background: #000 url(../img/tariff-ring.png) no-repeat center bottom !important;
      background-size: cover;
    }

    .tariff__option {

      &:after {
        background: $primary;
      }
    }
  }
}
