.person {
  margin-bottom: 30px;
  display: flex;
  align-items: center;

  @include transition;

  &:hover {
    opacity: .8;
  }

  &__picture-wrapper {

    @include transition;
  }

  &__picture {
    position: relative;
    margin-right: 25px;
    overflow: hidden;
    width: 90px;
    height: 90px;
    flex-shrink: 0;
    border-radius: 50%;

    @include media-breakpoint-down(sm) {
      width: 90px !important;
      height: 90px !important;
    }
  }

  &__photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }

  &--suit {
    flex-direction: column;
    text-align: center;

    .person__picture-wrapper {
      margin: 0 auto 40px;
      width: 310px;
      height: 310px;
      background: url(../img/suit.png) no-repeat center;
      background-size: contain;

      @include media-breakpoint-down(md) {
        margin: 0 auto;
        width: 100%;
      }

      @include media-breakpoint-down(sm) {
        margin-bottom: 20px;
      }
    }
  }
}
