mixin person(data)
  a.person(href="#")&attributes(attributes)
    .person__picture-wrapper
      .person__picture
        if data && data.photo
          img.person__photo(src="./img/" + data.photo, alt)
    .person__content
      h5.text-primary.mb-15= data.name
      p.text-white.xs.mb-0 Professor, University of Chicago
