.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @include media-breakpoint-down(xs) {
    margin-bottom: 32px;
  }

  &__number-wrapper {
    margin-bottom: 35px;
    padding: 15px;
    display: flex;
    width: 160px;
    height: 160px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url(../img/section.png) no-repeat center;
    background-size: contain;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }

  &__number {
    font-size: 60px;
    font-weight: 800;
    color: $primary;
  }

  &--plus {

    .stat__number {

      &:after {
        content: '+';
      }
    }
  }

  &--simple {
    margin-bottom: 20px;

    .stat__number-wrapper {
      margin-bottom: 10px;
      padding: 0;
      width: auto;
      height: auto;
      background: transparent;
    }

    .stat__title {
      color: #fff;
    }
  }
}
