mixin msg(data)
  a.msg(href="#message")&attributes(attributes)
    if data && data.img
      .msg__photo ЛП
        img(src=`./img/${data.img}` alt)
    .msg__content
      .msg__content-header
        if data && data.name
          .msg__name= data.name
        .msg__time(class=data.check ? 'is-check':'')= data.time
      .msg__text= data.text
