mixin menu(data)
  .menu&attributes(attributes)
    a.menu__btn
    .menu__content
      a.menu__item(href="#") Главная
      a.menu__item.menu__item--active(href="#") LIVE
      a.menu__item(href="#") программа
      a.menu__item(href="#") СПИКЕРЫ
      a.menu__item(href="#") участники
      a.menu__item(href="#") EXPO
      a.menu__item(href="#") Стоимость
      a.menu__item(href="#") Стоимость
      a.menu__item(href="#") networking
      a.menu__item(href="#") networking
      a.menu__item(href="#") Инвесторские питчи
      a.menu__item(href="#") контакты
