.menu {

  &__btn {
    display: none;

    @include media-breakpoint-down(md) {
      position: absolute;
      z-index: 3;
      top: 17px;
      right: 16px;
      display: block;
      width: 32px;
      height: 32px;
      background: url(../img/menu.svg) no-repeat center;
      background-size: 50%;
      border: 1px solid #fff;
      border-radius: 50%;
    }

    &--active {

      @include media-breakpoint-down(md) {
        background: url(../img/close.svg) no-repeat center;
        background-size: 50%;
      }
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @include media-breakpoint-down(md) {
      display: none;
    }

    &--active {

      @include media-breakpoint-down(md) {
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        padding: 110px 0;
        display: flex;
        overflow: auto;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-shrink: 0;
        background: #000;
      }
    }
  }

  &__left {
    justify-content: space-between;

    @include media-breakpoint-down(md) {
      margin-right: 0;
      margin-bottom: 20px;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      flex-grow: 0;
    }
  }

  &__right {
    justify-content: space-between;

    @include media-breakpoint-down(md) {
      padding-right: 0;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      flex-grow: 0;
    }
  }

  &__item {
    font-size: 10px;
    line-height: 1;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;

    @include transition;

    @include media-breakpoint-down(md) {
      margin-bottom: 20px;
      font-size: 24px;
    }

    &:last-child {

      @include media-breakpoint-down(md) {
        margin-bottom: 0;
      }
    }

    &:hover {
      opacity: .8;
    }

    &--active {
      color: $primary;
    }
  }
}
