mixin select(data)
  .select&attributes(attributes)
    if data && data.multiple
      select.select__input(data-placeholder=data.placeholder, multiple)
        if block
          block
        else
          option Представитель корпорации
          option Участник инновационной инфраструктуры
          option Инвестор
          option Пресса
          option Стартап
          option Студент, молодой ученый
          option Посетитель
          
    else if data && data.disabled
      select.select__input(data-placeholder=data.placeholder, disabled)
        if block
          block
        else
          option Представитель корпорации
          option Участник инновационной инфраструктуры
          option Инвестор
          option Пресса
          option Стартап
          option Студент, молодой ученый
          option Посетитель

    else
      select.select__input(data-placeholder=data.placeholder)
        if block
          block
        else
          option Представитель корпорации
          option Участник инновационной инфраструктуры
          option Инвестор
          option Пресса
          option Стартап
          option Студент, молодой ученый
          option Посетитель
