mixin header(data)
  .header&attributes(attributes)
    .container
      .header__top
        +menu
      .header__wrapper
        .header__left
          +logo({
            modifier: 'new'
          }).header__logo
        .header__right
          a.header__language(href="#") RU
          .header__user
            a.header__user-icon(href="#")
            if data && data.login
              .header__name.p.sm.text-primary.mb-0 Илья Чертилов
          a.btn.btn-primary.header__signup(href="#") Регистрация
