.header {
  padding-top: 17px;
  padding-bottom: 60px;
  background: #000;

  @include media-breakpoint-down(md) {
    padding-bottom: 30px;
  }

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(md) {
      justify-content: flex-end;
      align-items: flex-start;
    }
  }

  &__left {
    display: flex;
    width: 50%;
    flex: 1 0 auto;
    justify-content: flex-end;
    align-items: flex-start;

    @include media-breakpoint-down(md) {
      margin-right: 10px;
      padding-right: 0;
      width: auto;
      justify-content: flex-start;
    }
  }

  &__language {
    margin-right: 10px;
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;

    @include transition;

    &:hover {
      color: #000;
      background: #fff;
    }
  }

  &__signup {

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__logo {
    transform: translateX(50%);

    @include media-breakpoint-down(md) {
      position: relative;
      z-index: 2;
      transform: none;
    }
  }

  &__right {
    display: flex;
    width: 50%;
    flex: 1 0 auto;
    justify-content: flex-end;
    align-items: center;

    @include media-breakpoint-down(md) {
      padding-right: 32px;
      padding-left: 0;
      width: auto;
      flex-grow: 0;
    }
  }

  &__user {
    margin-right: 10px;
    display: flex;
    align-items: flex-end;

    @include transition;

    &:hover {
      opacity: .8;
    }
  }

  &__user-icon {
    width: 32px;
    height: 32px;
    background: url(../img/user-icon.svg) no-repeat center;
    border: 1px solid $primary;
    border-radius: 50%;
  }

  &__top {
    margin-bottom: 30px;

    @include media-breakpoint-down(md) {
      margin-bottom: 0;
    }
  }

  &__name {

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &--transparent {
    background: transparent;
  }
}
